body,div,p {margin:0;padding:0;position:relative}
body {font-family:arial;background-color:#777}
html,body {margin:0;height:100%}
canvas {position:absolute;top:0;bottom:0;left:0;right:0;z-index:0}
#canvas {position:absolute;top:0;bottom:0;left:0;right:0;margin-left:416px;}
#box{position:absolute;top:0;bottom:0;left:0;right:0;user-select:none;-webkit-user-select:none;-moz-user-select:none;cursor:default}
#controller {position:absolute;top:16px;left:16px;background-color:#ccc;box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);width:384px;min-height:160px;z-index:1;padding:16px;box-sizing:border-box}
h1 {margin:0;border-bottom:solid 1px #777;padding-bottom:8px;margin-bottom:8px}

select {height:24px}
.config {width:173.75px}
#inputData {width:100%;margin-top:8px;margin-bottom:4px}
#inData {width:243px;height:24px;box-sizing:border-box}
#method {height:24px;width:60px}
#load {height:24px;width:40px;display:inline-block;text-align:center;box-sizing:border-box}

.rotate {width:24px;height:24px;margin-top:4px}
.no-rotate {height:24px;width:96px;margin-top:4px}

#output {width:100%;height:300px;box-sizing:border-box;border:solid 1px #777;padding:8px;margin-top:8px;overflow:auto}